//------------ScoreBar----------

.NotHighlighted {
  opacity: 0.5;
}
.ScoreA {
  grid-column-start: 1;
  background-color: rgb(97, 218, 17);
  color: black;
  text-align: center;
}
.ScoreB {
  grid-column-start: 3;
  background-color: rgb(255, 238, 0);
  color: black;
  text-align: center;
}
.Timer {
  text-align: center;
  grid-column-start: 2;
}

.ScoreBar {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  height: 10vh;
  background-color: white;
}

//------------GameBoard----------
.GameContainer {
  display: grid;
  grid-template-columns: auto 730px auto;
  width: 100%;
  height: 90vh;
  background-color: white;
}
.Gameboard {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
h2 {
  margin: 5px;
}

//----------------Cards------------

.card {
  margin: 5px;
  width: 135px;
  height: 187px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 10px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.back {
  overflow: hidden;
  z-index: -1;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.front,
.back {
  transition: all 0.5s linear;
}
.front {
  background-image: url("./assets/depositphotos_92457964-stock-illustration-playing-cards-back.jpg");
  background-size: 103%;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: 5px 5px 5px #aaa;
}
.back {
  box-shadow: 0 0 0 #aaa;
}
.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  .front {
    box-shadow: 0 0 0 #aaa;
  }
  .back {
    box-shadow: 5px 5px 5px #aaa;
  }
}

.id1 {
  background-image: url("./assets/cat1.png");
  background-size: cover;
}
.id2 {
  background-image: url("./assets/cat2.jpg");
  background-size: cover;
}
.id3 {
  background-image: url("./assets/cat3.jpg");
  background-size: cover;
}
.id4 {
  background-image: url("./assets/cat4.jpg");
  background-size: cover;
}
.id5 {
  background-image: url("./assets/cat5.jpg");
  background-size: cover;
}

.id6 {
  background-image: url("./assets/cat6.jpg");
  background-size: cover;
}
.id7 {
  background-image: url("./assets/cat7.jpg");
  background-size: cover;
}
.id8 {
  background-image: url("./assets/cat8.jpg");
  background-size: cover;
}
.id9 {
  background-image: url("./assets/cat9.jpg");
  background-size: cover;
}
.id0 {
  background-image: url("./assets/cat0.jpg");
  background-size: cover;
}
